<html>
    <head>
        <link rel="stylesheet" href="style/home.css">
    </head>
    <body>
        <div><input id="search" type="text" placeholder="Search away!"><button onclick="search()">Go!</button></div>
        <div id="category" class="filter">Filter By: <span class="tag enabled">Games</span>
        <span class="tag enabled">Music</span>
        <span class="tag enabled">Development</span>
        <span class="tag enabled">Images</span>
        <span class="tag enabled">Private</span>
        <span class="tag enabled">Savegames</span>
        </div>
        <div id="section" class="filter">Filter By: <span class="tag enabled">Blizzard Games</span>
        <span class="tag enabled">Blizzard Games</span>
        <span class="tag enabled">Blizzard Games</span>
        <span class="tag enabled">Blizzard Games</span>
        <span class="tag enabled">Blizzard Games</span>
        </div>
        <div id="list"></div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="scripts/main.js"></script>
</html>